html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#map {
    width: 100%;
    height: 100%;
}

.leaflet-marker-icon {
    background-image: url(https://raw.githubusercontent.com/fysh711426/fysh711426.github.io/master/iMaskMap/image/iMask_back.png);
    background-size: contain;
    background-color: inherit;
    border: 0px;
}

    .leaflet-marker-icon table {
        position: relative;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
    }

    .leaflet-marker-icon td {
        vertical-align: middle;
        text-align: center;
    }

    .leaflet-marker-icon .circle-left {
        display: inline-block;
        background-color: rgba(16, 120, 121, 1);
        border-radius: 1000px;
    }

    .leaflet-marker-icon .circle-center {
        display: inline-block;
        background-color: rgba(233, 30, 58, 1);
        border-radius: 1000px;
    }

    .leaflet-marker-icon .circle-right {
        display: inline-block;
        background-color: rgba(153, 153, 153, 1);
        border-radius: 1000px;
    }

.icon-cluster.image0-icon span {
    line-height: 26px;
    display: inline-block;
    position: relative;
    top: -30px;
    left: 12px;
    background-color: rgba(153, 153, 153, 1);
    width: 25px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.icon-cluster.image1-icon span {
    line-height: 26px;
    display: inline-block;
    position: relative;
    top: -30px;
    left: 12px;
    background: rgba(233, 30, 58, 1);
    width: 25px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.icon-cluster.image2-icon span {
    line-height: 26px;
    display: inline-block;
    position: relative;
    top: -30px;
    left: 12px;
    background: rgba(230, 127, 34, 1);
    width: 25px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.icon-cluster.image3-icon span {
    line-height: 26px;
    display: inline-block;
    position: relative;
    top: -30px;
    left: 12px;
    background: rgba(16, 120, 121, 1);
    width: 25px;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

.popup-name {
    padding-left: 10px;
    border-left: 5px solid rgb(16, 120, 121);
    color: #000000;
    font-size: large;
    font-weight: bold;
}

.popup-phone {
    color: #000000;
    font-size: larger;
    font-weight: bold;
}

.popup-mask {
    color: #000000;
    font-size: larger;
    font-weight: bold;
}

.popup-address {
    color: #000000;
    font-size: larger;
    font-weight: bold;
}





.popup {
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 1000;
    width: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px 18px;
    transform: translateX(-50%);
    line-height: 1.4;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#popup-title {
    padding-left: 10px;
    border-left: 5px solid rgb(16, 120, 121);
    color: #000000;
    font-size: large;
    font-weight: bold;
    margin: 18px 0;
}

#popup-confirmed {
    color: #000000;
    font-size: larger;
    font-weight: bold;
}

#popup-recovered {
    color: #000000;
    font-size: larger;
    font-weight: bold;
}

#popup-deaths {
    color: #000000;
    font-size: larger;
    font-weight: bold;
}