html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#map {
    width: 100%;
    height: 100%;
}

.popup {
    position: absolute;
    bottom: 50px;
    left: 50%;
    z-index: 1000;
    width: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px 18px;
    transform: translateX(-50%);
    line-height: 1.4;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#popup-title {
    padding-left: 10px;
    border-left: 5px solid rgb(16, 120, 121);
    color: #000000;
    font-size: large;
    font-weight: bold;
    margin: 18px 0;
}

#popup-confirmed {
    color: #000000;
    font-size: larger;
    font-weight: bold;
}

#popup-recovered {
    color: #000000;
    font-size: larger;
    font-weight: bold;
}

#popup-deaths {
    color: #000000;
    font-size: larger;
    font-weight: bold;
}

.popup-wrap {
    position: relative;
}

.popup #btn {
    position: absolute;
    right: 5px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

    .popup #btn:link,
    .popup #btn:visited,
    .popup #btn:active {
        color: #2A93EE;
    }

    .popup #btn:hover {
        color: #0072c4;
    }

#list-title {
    padding-left: 10px;
    border-left: 5px solid rgb(16, 120, 121);
    color: #000000;
    font-size: large;
    font-weight: bold;
    margin: 18px 0;
}

#list {
    color: #000000;
    font-size: larger;
    font-weight: bold;
    overflow-y: scroll;
    max-height: 230px;
    margin-bottom: 15px;
}