html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#map {
    width: 100%;
    height: 100%;
}

.icon-cluster {
    background-image: url(https://raw.githubusercontent.com/fysh711426/fysh711426.github.io/master/iMaskMap/image/iMask_back.png);
    background-size: contain;
}

    .icon-cluster div {
        background-color: rgba(255, 255, 255, 0);
        position: relative;
    }

    .icon-cluster.image0-icon span {
        line-height: 26px;
        display: inline-block;
        position: relative;
        top: -30px;
        left: 12px;
        background-color: rgba(153, 153, 153, 1);
        width: 25px;
        height: 25px;
        border-radius: 20px;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
    }

    .icon-cluster.image1-icon span {
        line-height: 26px;
        display: inline-block;
        position: relative;
        top: -30px;
        left: 12px;
        background: rgba(233, 30, 58, 1);
        width: 25px;
        height: 25px;
        border-radius: 20px;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
    }

    .icon-cluster.image2-icon span {
        line-height: 26px;
        display: inline-block;
        position: relative;
        top: -30px;
        left: 12px;
        background: rgba(230, 127, 34, 1);
        width: 25px;
        height: 25px;
        border-radius: 20px;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
    }

    .icon-cluster.image3-icon span {
        line-height: 26px;
        display: inline-block;
        position: relative;
        top: -30px;
        left: 12px;
        background: rgba(16, 120, 121, 1);
        width: 25px;
        height: 25px;
        border-radius: 20px;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
    }

.popup-name {
    padding-left: 10px;
    border-left: 5px solid rgb(16, 120, 121);
    color: #000000;
    font-size: large;
    font-weight: bold;
}

.popup-phone {
    color: #000000;
    font-size: larger;
    font-weight: bold;
}

.popup-mask {
    color: #000000;
    font-size: larger;
    font-weight: bold;
}

.popup-address {
    color: #000000;
    font-size: larger;
    font-weight: bold;
}